.main{
    
    margin: 0% 2% 2% 2%;

}

.header{

    top: 0px;
    position: sticky;
    
    z-index: 1;
    align-items: end;
    background-color: darkgrey;
    height: 10vh;
    width: 100%;
    float: right;
    
}


.header ul{
align-self: flex-end;
list-style: none;
float: right;
}


.header li{
    float: left;
}

.header li a{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    
    
}

.content1{
    top: 2vh;
    position: relative;
    
    display: flex;
    height: 40vh;
    width: 100%;

}

.image-div{
    
    align-content: center;
    height: 40vh;
    /* width: 40%; */
    flex: 2;
}

.image-div img{
    border-radius: 8px;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cont1-para{
    
    height: 40vh;
    padding: 0px 10px 0px 10px;
    /* width: 60%; */
    flex: 3;

}

.cont1-para p{
    text-align: center;
}

.content2{
    top: 2vh;
    position: relative;
    display: flex;
    height: 45vh;
    width: 100%;
    
}

.cont2-para{
    
    height: 40vh;
    flex: 2;
    margin: 2%;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

.cont2-para p{
    padding: 10px;
}

.footer{
    display: flex;
    position: relative;
    top: 10vh;
    height: 10vh;

}

.footer-sub{
    height: 10vh;
    flex: 2;
    /* border-style: solid;
    border-color: black; */
    border-width: 1px;
    overflow: hidden;
}

.fa {
    float: right;
    padding: 20px;
    margin-left: 5px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-linkedin {
    background: #044ff1;
    color: white;
  }

  .fa-youtube {
    background: #f10404;
    color: white;
  }

  .fa-google {
    background: #eeff05;
    color: rgb(0, 224, 37);
  }